/* main {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 900px;
  width: 100%;
  max-width: fit-content;
} */

.lastTime {
  border: 1px solid tomato;
}

.task-list-container {
  max-height: 70vh; /* Limita a altura para caber na tela */
  overflow-y: auto; /* Adiciona rolagem somente no eixo Y */
  margin-top: 1rem; /* Ajuste de espaço */
}
