@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definições adicionais para base */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  @apply bg-primary;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
a {
  @apply text-accent font-medium no-underline hover:text-accent-hover;
}

a:hover {
  @apply text-accent-hover; /* Configure isso no tema do Tailwind */
}

/* Títulos */
h1 {
  @apply text-3xl leading-tight;
}

/* Botões */
button {
  @apply bg-accent text-primaryDark rounded-lg border border-transparent px-4 py-2 text-sm font-medium transition hover:bg-accent-hover;
}

button:hover {
  @apply text-white;
}

button:focus,
button:focus-visible {
  @apply outline-none ring-2 ring-offset-2 ring-accent;
}


/* Estilos para o modo claro */
@media (prefers-color-scheme: light) {
  :root {
    @apply bg-white text-gray-800;
  }
  a:hover {
    @apply text-accent-lightHover; /* Configure no tema */
  }
  button {
    @apply bg-gray-200 text-gray-800;
  }
}


/* Inputs e Selects */
input,
select {
  @apply bg-primaryDark text-secondary border border-accent px-3 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-accent focus:border-transparent;
}

input::placeholder,
select::placeholder {
  @apply text-secondary/80; /* Placeholder mais claro */
}